flows.json
[
    {
        "id": "9f89e4188f168b46",
        "type": "subflow",
        "name": "patlite",
        "info": "A node to control the Patlite NHV series\n\nAfter setting the IP address and target (light color or buzzer) in the node property, you can control this node with the `msg.payload` value.\n\n### Input\n- `msg.payload` _boolean_\n\n  If the received `msg.payload` is `true`, the target light will be on.\n  When `msg.payload` has `false` value, the target light is turned off.\n\n- `msg.topic` _number_\n\n  You can set the light or buzzer mode in the `msg.topic`.\n  The range of the value is between `1` and `5`.",
        "category": "network",
        "in": [
            {
                "x": 60,
                "y": 200,
                "wires": [
                    {
                        "id": "d164cdee2070e440"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "ip_address",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-globe",
                    "label": {
                        "ja": "IPアドレス"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str",
                            "env"
                        ]
                    }
                }
            },
            {
                "name": "target",
                "type": "str",
                "value": "red",
                "ui": {
                    "icon": "font-awesome/fa-paint-brush",
                    "label": {
                        "ja": "対象"
                    },
                    "type": "select",
                    "opts": {
                        "opts": [
                            {
                                "l": {
                                    "ja": "赤"
                                },
                                "v": "red"
                            },
                            {
                                "l": {
                                    "ja": "黄"
                                },
                                "v": "yellow"
                            },
                            {
                                "l": {
                                    "ja": "緑"
                                },
                                "v": "green"
                            },
                            {
                                "l": {
                                    "ja": "音"
                                },
                                "v": "buzzer"
                            }
                        ]
                    }
                }
            }
        ],
        "meta": {
            "module": "@kazuhitoyokoi/node-red-contrib-patlite",
            "type": "patlite",
            "version": "0.0.5",
            "author": "Kazuhito Yokoi <kazuhitoyokoi@nodered.jp>",
            "desc": "A node to control the Patlite NHV series",
            "keywords": "node-red, patlite",
            "license": "Apache-2.0"
        },
        "color": "#E9967A",
        "icon": "node-red/bridge-dash.svg",
        "status": {
            "x": 680,
            "y": 460,
            "wires": [
                {
                    "id": "d82ff06a7eedd8f1",
                    "port": 0
                },
                {
                    "id": "7d9ecaea711a166c",
                    "port": 0
                },
                {
                    "id": "acc85c6c61482b1f",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "337085bc486219c9",
        "type": "template",
        "z": "9f89e4188f168b46",
        "name": "red off",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{env.ip_address}}/api/control?alert=099999",
        "output": "str",
        "x": 490,
        "y": 220,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "a680e78eb9b38fa0",
        "type": "http request",
        "z": "9f89e4188f168b46",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 200,
        "wires": [
            [
                "3813db38f5723651"
            ]
        ]
    },
    {
        "id": "f237adb49f97e086",
        "type": "template",
        "z": "9f89e4188f168b46",
        "name": "yellow off",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{env.ip_address}}/api/control?alert=909999",
        "output": "str",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "f087f9c3c8bed443",
        "type": "template",
        "z": "9f89e4188f168b46",
        "name": "green off",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{env.ip_address}}/api/control?alert=990999",
        "output": "str",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "c51f4fd3ee5a5380",
        "type": "template",
        "z": "9f89e4188f168b46",
        "name": "buzzer off",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{env.ip_address}}/api/control?alert=999990",
        "output": "str",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "0e324e7f0dee05fc",
        "type": "switch",
        "z": "9f89e4188f168b46",
        "name": "target",
        "property": "target",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "buzzer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "c49ce7d19c65e276"
            ],
            [
                "1a0860403d878208"
            ],
            [
                "98926c537d721063"
            ],
            [
                "925fcce4377303f0"
            ]
        ]
    },
    {
        "id": "bcad196bf5cd10e7",
        "type": "switch",
        "z": "9f89e4188f168b46",
        "name": "target",
        "property": "target",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellow",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "green",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "buzzer",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "337085bc486219c9"
            ],
            [
                "f237adb49f97e086"
            ],
            [
                "f087f9c3c8bed443"
            ],
            [
                "c51f4fd3ee5a5380"
            ]
        ]
    },
    {
        "id": "d164cdee2070e440",
        "type": "switch",
        "z": "9f89e4188f168b46",
        "name": "on?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "^[0-9]+$",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "0e324e7f0dee05fc"
            ],
            [
                "0e324e7f0dee05fc"
            ],
            [
                "0e324e7f0dee05fc"
            ],
            [
                "bcad196bf5cd10e7"
            ],
            [
                "0e324e7f0dee05fc"
            ],
            [
                "bcad196bf5cd10e7"
            ]
        ]
    },
    {
        "id": "662589f3a62cea24",
        "type": "switch",
        "z": "9f89e4188f168b46",
        "name": "==\"Success.\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Success.",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "d82ff06a7eedd8f1"
            ],
            [
                "7d9ecaea711a166c"
            ]
        ]
    },
    {
        "id": "d82ff06a7eedd8f1",
        "type": "change",
        "z": "9f89e4188f168b46",
        "name": "success",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fill\":\"blue\",\"shape\":\"dot\",\"text\":\"success\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "947045134b7f4ac9"
            ]
        ]
    },
    {
        "id": "7d9ecaea711a166c",
        "type": "change",
        "z": "9f89e4188f168b46",
        "name": "error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fill\":\"red\",\"shape\":\"ring\",\"text\":\"error\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "947045134b7f4ac9",
        "type": "delay",
        "z": "9f89e4188f168b46",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "acc85c6c61482b1f"
            ]
        ]
    },
    {
        "id": "acc85c6c61482b1f",
        "type": "change",
        "z": "9f89e4188f168b46",
        "name": "clear",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "89f44a2dd6300242",
        "type": "link in",
        "z": "9f89e4188f168b46",
        "name": "link in 1",
        "links": [
            "3813db38f5723651"
        ],
        "x": 145,
        "y": 460,
        "wires": [
            [
                "662589f3a62cea24"
            ]
        ]
    },
    {
        "id": "3813db38f5723651",
        "type": "link out",
        "z": "9f89e4188f168b46",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "89f44a2dd6300242"
        ],
        "x": 815,
        "y": 200,
        "wires": []
    },
    {
        "id": "925fcce4377303f0",
        "type": "function",
        "z": "9f89e4188f168b46",
        "name": "buzzer on",
        "func": "if (1 <= Number(msg.topic) && Number(msg.topic) <= 5) {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=99999' + msg.topic;\n} else {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=999994';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "c49ce7d19c65e276",
        "type": "function",
        "z": "9f89e4188f168b46",
        "name": "red on",
        "func": "if (1 <= Number(msg.topic) && Number(msg.topic) <= 5) {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=' + msg.topic + '99999';\n} else {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=199999';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 60,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "1a0860403d878208",
        "type": "function",
        "z": "9f89e4188f168b46",
        "name": "yellow on",
        "func": "if (1 <= Number(msg.topic) && Number(msg.topic) <= 5) {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=9' + msg.topic + '9999';\n} else {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=919999';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "98926c537d721063",
        "type": "function",
        "z": "9f89e4188f168b46",
        "name": "green on",
        "func": "if (1 <= Number(msg.topic) && Number(msg.topic) <= 5) {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=99' + msg.topic + '999';\n} else {\n    msg.url = 'http://' + env.get('ip_address')\n            + '/api/control?alert=991999';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "a680e78eb9b38fa0"
            ]
        ]
    },
    {
        "id": "336c561d7875d5d5",
        "type": "subflow:9f89e4188f168b46",
        "z": "050cb43ce7097786",
        "name": "",
        "env": [
            {
                "name": "ip_address",
                "value": "192.168.11.9",
                "type": "str"
            }
        ],
        "x": 770,
        "y": 340,
        "wires": []
    }
]
